/* remove default margin and padding from body */
body{
  padding: 0px;
  margin: 0px;
  background-image: linear-gradient(
    to right, lightskyblue, dodgerblue, darkblue);
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 88%;
}

.legend {
  line-height: 20px;
  color: black;
  padding: 5px;
  border-radius: 6px;
  border-top: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.legend img {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
}

.legend span {
  font-size: 13px;
}

#ships-only,
#sharks-only,
#both,
#click-me,
#nevermind {
  color:rgb(207, 36, 36);
  background-color: white;
  margin: 6px;
  font-size: 16px
}

h1, h3, .navbar, .btn {
  font-family: 'Amity Jack', sans-serif;
  color: rgb(207, 36, 36);
}

@font-face {
  font-family: Amity Jack;
  src: url(/static/styles/Amity\ Jack.ttf);
}

.chart {
  width:90%;
  max-width:1000px;
  height:auto;
}
